<div class="dog-banner">
  <div class="dog-banner-regroup">
    <div class="dog-banner-text">
      <h2><%= dog.organization %></h2>
      <div class="dog-banner-btn">
        <%= link_to "More info", dog.url, class:"btn-more-info" %>
      </div>
  </div>
</div>
