.navbar {
  justify-content: space-between;
  background-color: #eeeeee;
  font-family: 'Red Hat Display', sans-serif;
  padding: 15px;
}

.nav-link {
  text-decoration: none;
  color: #6505b5;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Barlow Condensed';
  margin: 5px;
}
